# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# Android (di-generate ulang oleh flutter create / gradle saat build)
android/.gradle/
android/local.properties
*.iml
*.jks

# IDE
.idea/
.vscode/

# macOS
.DS_Store
